body {
    background-color: #2274A5;
}

ul {
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    margin: -10px;
}

li {
	float: left;
}

li a {
	display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

.section{
    margin-top: 10%;
    margin-right: 8.2222%;
    margin-left: 10%;
    background-color: #bee3f1;
    border-style: inset;
   
}

.christina{
    border-radius: 50%;
    margin-right: 10%;
}

.steven{
border-radius: 50%;
 margin-right: 10%;

}
.isaiah{
border-radius: 50%;
 margin-right: 10%;

}
.luis{
  border-radius: 50%; 
   margin-right: 10%;
 
}

p{
    font-size: 20px;
     text-align: justify;
     width: 200px;
}