body{
    background-color: black;
}


ul {
    list-style-type: none;
    overflow: hidden;
    background-color: black;
    margin: -10px;
    font-family: 'Allerta Stencil', sans-serif;
    width: 100%;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #808080;
}

#iframe {
    margin-left: -1%;
    margin-top: .4%;
}
