body {
    background-color: #01172F;
}



ul {
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    margin: -10px;
    font-family: 'Allerta Stencil', sans-serif;
}

li {
	float: left;
}

li a {
	display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

.section{
    margin-top: 10%;
    margin-right: 8.2222%;
    margin-left: 10%;

   
}

img{
border-radius: 50%;

}

#christina{
    margin-right: 8.3%;
}

#luis{
    margin-right: 8.9%;
}

#isaiah{
    margin-right: 4%;
}

#steven {
    margin-right: 5%;
}
