html,

body {
    background-image: url(img/searsbg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    font-family: 'Allerta Stencil', sans-serif;
}

ul {
    list-style-type: none;
    padding: 1px;
    overflow: hidden;
    background-color: black;
    margin: -10px;
    font-family: 'Allerta Stencil', sans-serif;
    position: fixed;
    width: 100%;
}

li {
	float: left;
}

li a {
	display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #808080;
}

.banner {
    background: url(img/ezgif.gif);
    background-attachment: fixed;
    background-size: cover;
    height: 550px;
    margin: 9px -10px;
}

#h1 {
    font-size: 70px;
    color: white;
    margin: -80px 20px;
}

.p1 {
    margin-top: 100px;
    padding: 30px 30px;
    background-color: white;
    text-align: center;
    font-size: 30px;
    margin-left: 25%;
    margin-bottom: 10%;
    background: rgba(204, 204, 204, 0.5);
    border: 20px black;
    width: 50%;
    height: 100%;
}

.p2 {
    
}

.section {
    padding: 20px 30px;
    margin-left: -10px;
    margin-bottom: -30px;
    background-color: white;
    border: 20px black;
    opacity: 0.7;
    width: 97.5%;
    height: 150%;
}

.img {
    border-radius: 50%;
}

#christina {
    margin-right: 8%;
}

#luis {
    margin-right: 8%;
}

#isaiah {
    margin-right: 8%;
}

#steven {
    margin-right: 8%;
}
