html,

body {
    background-image: url(img/searsbg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    font-family: 'Allerta Stencil', sans-serif;
}

ul {
    list-style-type: none;
    padding: 1px;
    overflow: hidden;
    background-color: black;
    margin: -10px;
    font-family: 'Allerta Stencil', sans-serif;
    position: fixed;
    width: 100%;
}

li {
	float: left;
}

li a {
	display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #808080;
}

.banner {
    background: url(img/ezgif.gif);
    background-attachment: fixed;
    background-size: cover;
    height: 550px;
    margin: 9px -10px;
}

#h1 {
    font-size: 70px;
    color: white;
    margin: -80px 20px;
}

.p1 {
    margin-top: 100px;
    padding: 30px 30px;
    background-color: white;
    text-align: center;
    font-size: 30px;
    margin-left: -2%;
    margin-bottom: 5%;
    background: rgba(204, 204, 204, 0.5);
    border: 1px black;
    width: 98%;
    height: 100%;
}

.p2 {
    padding: 30px 30px;
    background-color: white;
    text-align: center;
    font-size: 30px;
    margin-left: -2%;
    margin-bottom: 10%;
    margin-top: -2%;
    background: rgba(204, 204, 204, 0.5);
    border: 1px black;
    width: 98%;
    height: 100%;
}

.p3 {
    padding: 30px 30px;
    background-color: white;
    text-align: center;
    font-size: 27px;
    margin-left: 1%;
    margin-right: 50%;
    margin-bottom: 10%;
    background: rgba(204, 204, 204, 0.5);
    height: 100%;
    width: 20%;
    display: inline-block;
    position: relative;
    left: 0;
}

.p4 {
    padding: 30px 30px;
    background-color: white;
    text-align: center;
    font-size: 27px;
    margin-left: 1%;
    margin-right: 50%;
    margin-bottom: 10%;
    background: rgba(204, 204, 204, 0.5);
    height: 87%;
    width: 20%;
    display: inline-block;
    position: absolute;
    right: -150px;
}

.p5 {
    padding: 30px 30px;
    background-color: white;
    text-align: center;
    font-size: 27px;
    margin-left: 1%;
    margin-right: 50%;
    margin-bottom: 10%;
    background: rgba(204, 204, 204, 0.5);
    height: 87%;
    width: 20%;
    display: inline-block;
    position: absolute;
    right: -650px;
}

.moneyback {
    padding: 10px;
    text-align: center;
    margin-left: -30px;
    margin-top: 30%;
    margin-bottom: -40px;
    background-color: white;
    border: 1px black;
    width: 101.4%;
    background: rgba(204, 204, 204, 0.8);
    color: black;
}

#p6 {
    font-size: 50px;
    margin-left: 2%;
    margin-bottom: -5.9%;
    color: white;

}

.section {
    padding: -10px 36.5px;
    margin-left: -10px;
    margin-top: 5%;
    margin-bottom: -30px;
    background-color: white;
    border: 1px black;
    width: 101.5%;
    height: -70%;
    background: rgba(204, 204, 204, 0.8);
}

.img {
    border-radius: 50%;
}

#christina {
    margin: 5% 5.5%;
}

#steven {
    margin: 5% 5.5%;
}

#isaiah {
    margin: 5% 3.5%;
}

#luis {
    margin: 5% 3.5%;
}


