html,

body	{
	background-image: url(img/luisbio.JPG);
	background-repeat: no-repeat;
	background-size: 100%;
	background-attachment: fixed;
	font-family: 'Allerta Stencil', sans-serif;
}

ul {
	list-style-type: none;
    padding: 5px;
    overflow: hidden;
    background-color: black;
    margin: -10px;
}

li {
	float: left;
}

li a {
	display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #808080;
}

h1	{
	margin-left: 8%;
	margin-top: 6%;
	font-size: 80px;
	color: white;
}

#h2 {
	margin-left: 8%;
	margin-top: -4%;
	font-size: 50px;
	color: white;
}

span {
	text-align: left;
}

#linkedin {
	height: 41px;
	width: 41px;
	margin-left: 10px;
}

#facebook {
	height: 41px;
	width: 41px;
	margin-left: 10px;
}

#instagram {
	height: 41px; 
	width: 41px;
	margin-left: 10px;
}

.container {
	background-color: white;
	margin-left: 8%;
	margin-right: 35%;
	opacity: 0.8;
	padding: 45px;
	border: 1px;
	border-style: outset;
	border-radius: 50px;
}

