html,

body	{
	background-image: url(https://cdn.hyperdev.com/us-east-1%3A872d6385-2f6a-4402-b9ba-41b8b91ef347%2FIMG_2590.JPG);
	background-repeat: no-repeat;
	background-size: 100%;
	background-attachment: fixed;
	font-family: 'Allerta Stencil', sans-serif;
}

ul {
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    margin: -10px;
}

li {
	float: left;
}

li a {
	display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

h1	{
	margin-left: 8%;
	margin-top: 6%;
	font-size: 80px;
}

#h2 {
	margin-left: 8%;
	margin-top: -4%;
	font-size: 50px;
}

span {
	text-align: left;
}

#linkedin {
	height: 41px;
	width: 41px;
	margin-left: 10px;
}

#facebook {
	height: 41px;
	width: 41px;
	margin-left: 10px;
}

#instagram {
	height: 41px; 
	width: 41px;
	margin-left: 10px;
}

.container {
	background-color: white;
	margin-left: 8%;
	margin-right: 35%;
	opacity: 0.8;
	padding: 45px;
	border: 1px;
	border-style: outset;
	border-radius: 50px;
}

